*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex{
  display: flex;
}

.due-colonne{
  flex-direction: row;
  width: 100%;
}

.barra-nav-sinistra{
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 90vh;
  background: red;
}
.logo{
  text-align: center;
  margin: 25px 0 25px 0;
}

.logo img{
  width: 50%;
}

.contenuto-centrale{
  flex-direction: row;
  width: 80%;
  height: 90vh;
  background: yellow;
}

.footer{
  flex-direction: row;
  width: 100%;
  height: 10vh;
  background: blue;
}
